.brand-logo{
    width: 250px;
}

.login-button{
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 50px;
    text-decoration: none;
    color: #000
}

.navbar-toggler{
    border: none;
}
@media screen and (min-width: 767px) and (max-width:1023px){
    
}


